
.starContactIcon{
    position: relative;
}
.starContactIcon::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #2C3E50;
    margin-left: 30px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.starContactIcon::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #2C3E50;
    margin-right: 30px;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}